---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}


// lower the menu row to give more space around the picture
.navbar-nav > li > a {
  padding-top: 22px;
}


// permanently show the scrollbar even is page is too short, keeps the page from shifting slightly when a long page is loaded
html {
  overflow-y: scroll;
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

tr:nth-child(odd) {
    background-color: #ddd;
}
